vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Mar 2005 04:56:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ood/exercises/ex2.html
vti_author:SR|TALBY1\\Talby
vti_modifiedby:SR|Talby-PC2\\Talby
vti_timecreated:TR|17 Mar 2005 20:56:07 -0000
vti_lineageid:SR|{25644450-DF34-4ACE-AD69-0D261AD610E9}
vti_cacheddtm:TX|18 Mar 2005 04:56:08 -0000
vti_filesize:IR|1969
